# Byte-compiled / optimized / DLL files
__pycache__/
/pycatan/__pycache__/
*.py[cod]
*$py.class
architecture.txt
.DS_Store
restats

data.txt

catanrl.sublime-project
catanrl.sublime-workspace
